name: ci

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    name: ci
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup mise
        uses: jdx/mise-action@v2
        with:
          install: true

      - name: Setup task
        uses: arduino/setup-task@v2

      - name: Setup Dagger
        uses: dagger/dagger-for-github@v7

      - name: Dagger version
        run: dagger version

      - name: Run CI task via Dagger
        run: dagger run -- mise exec -- task ci

  pact-tests:
    runs-on: ubuntu-latest
    name: pact-tests
    needs: [ci]
    if: github.event_name == 'pull_request' || github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup mise
        uses: jdx/mise-action@v2
        with:
          install: true

      - name: Setup task
        uses: arduino/setup-task@v2

      - name: Setup Dagger
        uses: dagger/dagger-for-github@v7

      - name: Run pact tests task via Dagger
        run: dagger run -- mise exec -- task test:pact

  release:
    runs-on: ubuntu-latest
    name: release
    needs: [ci]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Dagger
        uses: dagger/dagger-for-github@v7

      - name: Dagger version
        run: dagger version

      - name: Semver release
        id: release
        uses: cocogitto/cocogitto-action@v3.5
        with:
          release: true
          git-user: 'version'
          git-user-email: 'info@sys-int.de'